
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    /* padding-right: 30px; */
    /* padding-left: 30px; */
    /* padding-bottom: 10px; */
    padding: 15px 30px 15px 30px;
    background-color: #1F2937;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 10px; */
}

.header-logo {
    color: #F9FAF8;
    font-size: 28px;
    font-weight: bold;
}

.header-buttons-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
    background-color: aliceblue;
    border: solid 1px black;
    border-radius: 8px;
    gap: 5px;
}

.form-popup {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2vh;
    border: 3px solid #f1f1f1;
    background-color: transparent;
}

.add-note-button {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: inherit;

    background-color: #e0fee2;
    /* color: #12911a; */
}

.add-note-button:hover {
    background-color: #18ff28;
    color: white;
}

.add-note-button:active {
    transform: scale(0.95);
}


.form-button-container {
    display: flex;
    justify-content: right;
    gap: 10px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 32px;
    align-items: center;
    justify-content: center;
    background-color: #F9FAF8;
}

.card {
    padding: 15px;
    width: 300px;
    height: 250px;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-note-section {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;

    flex-grow: 1;
    overflow-y: auto;
    word-wrap: break-word;

    white-space: pre-wrap;

}

.card-note-section::-webkit-scrollbar {
    width: 6px;
}

.card-note-section::-webkit-scrollbar-track {
    background: transparent;
}

.card-note-section::-webkit-scrollbar-thumb{
    background-color: #cbd5e1;
    border-radius: 10px;
}

.card-button {
    text-align: right;
    margin-top: auto;    
}

.btn-card {
    border: none;
    padding: 6px 14px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: inherit;
}


.btn-blue {
    background-color: #E0F2FE;
    color: #0284C7;
}

.btn-blue:hover {
    background-color: #0284C7;
    color: white;
}

.btn-red {
    background-color: #FEE2E2;
    color: #DC2626;
}

.btn-red:hover {
    background-color: #DC2626;
    color: white;
}

.btn-card:active {
    transform: scale(0.95);
}

.card-date-info {
    font-size: 12px;
    color: #6B7280; /* Warna abu-abu */
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 5px;
    
}

.card-date-info small {
    display: block;
    line-height: 1;
}


.form-edit-container {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2vh;
    border: 3px solid #f1f1f1;
    background-color: transparent;
}

.editForm {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
    background-color: palegreen;
    border: solid 1px black;
    border-radius: 8px;
    gap: 5px;
}

#no-result-message {
    display: none;
    width: 100%;
    text-align: center;
    color: #6B7280;
    font-size: 18px;
    margin-top: 50px;
}